<div class="content">
    <h1 class="title">Seja bem vindo ao Spotify Haven</h1>
    <p>Olá, eu sou o Dyaus e vou te apresentar o Spotify Haven!</p>
    <p>A ideia dessa aplicação é oferecer alguns recursos de gerenciamento para o seu perfil do Spotify e, portanto, é necessário
        realizar a autorização para app de terceiros na página do Spotify, nesse link aqui: 
        <a href="http://localhost:5000/login">Log in to Spotify</a><br>
    </p>
    <p>
        Na página do Spotify você pode conferir quais permissões o app solicita, o que inclui informações sobre seu perfil e
        as músicas que você ouve. As informações que solicitamos são somente leitura, não fazemos alteração alguma na sua conta do Spotify,
        todas as opções de gerenciamento que você fizer ficarão salvas aqui no Spotify Haven.
    </p>
</div>