<div class="content">
    <h1 class="title">Sobre nós</h1>
    <p>Esse app foi feito inicialmente para uso pessoal, portanto a maior parte de suas funcionalidades tem casos de uso seguindo
        necessidades e preferências muito específicas hehe
    </p>
    <p>
        O Spotify Haven é open source e está 100% disponível no meu github: 
        <%= link_to "https://github.com/dyauss/SpotifyHaven", "https://github.com/dyauss/SpotifyHaven", target: :_blank %>
    </p>
</div>